<app-headeratm
  title="Olá, {{ userAccountInfo.firstName }} {{ userAccountInfo.lastName }}"
  subtitle="último acesso em {{ userAccountInfo.lastAcces | date:'dd/MM/yyyy HH:mm' }}"
></app-headeratm>

<article class="limiter">
  <app-warning text="O limite de saque é de R$ 1.000,00 das 22h às 06h e de R$ 10.000,00 das 06h01 às 21h59." />
</article>

<section class="limiter operations-atm">
  <article class="container-balance">
    <app-showbalance></app-showbalance>
    <img src="../../assets/ad-atm.png" alt="Cartões Itaú">
  </article>

  <article class="container-buttons-action">
    <app-button title="saque" subtitle="valores" icon="vertical_align_bottom" [highlight]="true" route="withdraw"/>
    <app-button title="extrato" subtitle="conta corrente" icon="wallet" route="statement" />
    <app-button subtitle="transferência" icon="sync_alt" route="transfer" />
    <app-button subtitle="depósito" icon="vertical_align_top" route="deposit" />
    <app-button subtitle="poupança" icon="savings" route="savings" />
  </article>
</section>

<footer class="limiter">
  <app-exitbutton />
</footer>
