@import '../../../../variables.scss';

.warning {
  height: 60px;
  background-color: white;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 0 5px 5px 0;
  margin-bottom: 20px;

  .icon {
    background-color: $primary-green;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;

    i {
      span {
        color: white;
      }
    }
  }

  .text {
    padding: 0 15px;
    width: fit-content;
  }
}
