@import '../../../variables.scss';

.section-value-balance {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .article-value {
    width: 500px;
    gap: 10px;
    background-color: white;
    padding: 20px 60px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: $box-shadow-buttons-action;
    margin-bottom: 30px;

    .container-input {
      display: flex;
      flex-direction: column;
      gap: 20px;

      label,
      p {
        font-size: 20px;
        display: flex;
        align-items: center;

        input {
          margin-left: 20px;
          @include input-style(200px, 35px);
        }
      }

      span {
        font-weight: 500;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        button {
          @include button-active-style(200px, 55px);

          &:disabled {
            @include button-disable-style(200px, 55px);
          }
        }
      }
    }

    .withdraw-made {
      text-align: center;

      span {
        color: $third-green;
        font-size: 100px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .article-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  >div {
    display: flex;
    gap: 25px;
  }
}
