<app-headeratm title="Transferência via CPF" />

<section class="limiter section-transfer">
  <article class="article-transfer">
    <div class="transfer-forms">
      <app-warning *ngIf="errorMessage.length" [text]="errorMessage" />

      <div *ngIf="!cpfExists && !transferMade">
        <h1>transferência</h1>

        <form [formGroup]="forms" (ngSubmit)="onSubmit()">
          <input type="text" placeholder="cpf de destino" formControlName="CPF" appCpfFormat>
          <span *ngIf="forms.get('CPF')?.invalid && forms.get('CPF')?.touched" class="span-error">
            O CPF deve ter 11 dígitos
          </span>

          <input type="number" placeholder="valor" formControlName="amount">


          <button type="submit" [disabled]="forms.invalid">continuar</button>
        </form>
      </div>

      <div class="transfer-confirm" *ngIf="cpfExists">
        <h2>dados da transferência</h2>

        <ul class="info-list">
          <li>nome: <span>{{ userDestinationInfo.firstName }}</span></li>
        <li>sobrenome: <span>{{ userDestinationInfo.lastName }}</span></li>
        <li>cpf: <span>{{ userDestinationInfo.cpf }}</span></li>
        <li>valor: <span>{{ forms.get('amount')?.value | currency:'BRL':'symbol':'1.2-2' }}</span></li>
        </ul>

        <div class="buttons-transfer">
          <button class="confirm" (click)="confirmTransfer()">confirmar</button>
          <button class="cancel" (click)="cancelTransfer()">cancelar</button>
        </div>
      </div>

      <div class="transfer-made" *ngIf="transferMade">
        <span class="material-symbols-outlined">
          task_alt
        </span>
        <p>transferência realizada com sucesso!</p>
      </div>
    </div>
  </article>

  <article>
    <app-showbalance />
  </article>
</section>

<app-footer />
