<app-headeratm title="Extrato bancário" />

<section class="limiter section-statement">
  <article>
    <h3>transações</h3>

    <div>
      <table>
        <thead>
          <tr>
            <th>data</th>
            <th>hora</th>
            <th>tipo de transação</th>
            <th>valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of statements">
            <td>{{ item.date | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.date | date:'HH:mm' }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.addOrRemoved == 0 ? '-' : '+' }} {{  item.value | currency:'BRL':'symbol':'1.2-2' }}</td>
            <!-- <td>{{ (item.addOrRemoved == 0 ? '+' : '1') + item.value | currency:'BRL':'symbol':'1.2-2' }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <app-showbalance />
</section>

<app-footer />
