<app-headeratm title="Extrato bancário" />

<section class="limiter section-statement">
  <article>
    <h3>transações</h3>

    <div>
      <table>
        <thead>
          <tr>
            <th>data</th>
            <th>hora</th>
            <th>tipo de transação</th>
            <th>valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/01/2024</td>
            <td>10:00</td>
            <td>Depósito</td>
            <td>R$ 500,00</td>
          </tr>
          <tr>
            <td>02/01/2024</td>
            <td>14:30</td>
            <td>Saque</td>
            <td>R$ 200,00</td>
          </tr>
          <tr>
            <td>03/01/2024</td>
            <td>09:15</td>
            <td>Transferência</td>
            <td>R$ 150,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <app-showbalance />
</section>

<footer class="limiter">
  <div>
    <app-returnbutton />
  </div>

  <div>
    <app-homeatmbutton />
    <app-exitbutton/>
  </div>
</footer>
