<header class="limiter">
  <div>
    <span class="material-symbols-outlined">check_circle</span>
    <h2>Saques <br> e transferências</h2>
  </div>

  <div class="line"></div>

  <div>
    <span class="material-symbols-outlined">check_circle</span>
    <h2>Depósitos <br> e extratos</h2>
  </div>
</header>

<body>
  <section class="limiter">
    <article class="article-bills">
      <div class="ad">
        <img src="../../assets/ad-login.png" alt="Anúncio de promoção do Itaú">
      </div>

      <div class="bills">
        <h4>Notas disponíveis para saque:</h4>

        <div>
          <img src="../../assets/50-reais.png" alt="Nota de 50 reais">
          <span>R$ 50</span>
        </div>

        <div>
          <img src="../../assets/20-reais.png" alt="Nota de 20 reais">
          <span>R$ 20</span>
        </div>

        <div>
          <img src="../../assets/10-reais.png" alt="Nota de 10 reais">
          <span>R$ 10</span>
        </div>
      </div>
    </article>

    <article class="login-register">
      <div>
        <h1>acesse sua conta</h1>

        <!-- <form [formGroup]="forms"]>
          <input type="text" formControlName="email">
          <input type="password" formControlName="password">
        </form> -->
      </div>
    </article>
  </section>
</body>
