<section class="limiter">
  <article class="article-bills">
    <div class="ad">
      <img src="../../assets/ad-login.png" alt="Anúncio de promoção do Itaú">
    </div>

    <div class="bills">
      <h4>Notas disponíveis para saque:</h4>

      <div class="container-bills">
        <div>
          <img src="../../assets/50-reais.png" alt="Nota de 50 reais">
          <span>R$ 50</span>
        </div>

        <div>
          <img src="../../assets/20-reais.png" alt="Nota de 20 reais">
          <span>R$ 20</span>
        </div>

        <div>
          <img src="../../assets/10-reais.png" alt="Nota de 10 reais">
          <span>R$ 10</span>
        </div>
      </div>
    </div>
  </article>

  <article class="login-register">
    <div class="container-forms">
      <h1>acesse sua conta</h1>

      <form [formGroup]="forms" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="cpf" formControlName="CPF" appCpfFormat>
        <input type="password" placeholder="senha" formControlName="password">

        <button type="submit" [disabled]="forms.invalid">acessar</button>
      </form>
    </div>

    <div class="container-buttons-action">
      <button (click)="navigateToRegister()">
        <span class="material-symbols-outlined">person_add</span>
        criar conta
      </button>

      <button>
        <span class="material-symbols-outlined">vertical_align_top</span>
        depósito
      </button>
    </div>
  </article>
</section>
